# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Data files
data/bug_report_embeddings.pkl
data/bug_report_index.faiss

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp
*~

# Operating system files
.DS_Store
Thumbs.db

# Python egg files
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/

# Unit test / coverage reports
.coverage
.tox/
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# mypy
.mypy_cache/

# pyre
.pyre/
